BACKEND_PORT=5050
FRONTEND_PORT=4200
COACH_PORT=4300

FRONTEND_CONTAINER_PORT=80
COACH_CONTAINER_PORT=80

BACKEND_HOST=localhost

FRONTEND_BACKEND_ORIGIN=

PASSKEY_RP_ID=localhost

MEDSIGN_HSM_PIN=

MEDSIGN_JWT_SIGNING_KEY=
